## Bot Info
token=abcdefghijklmnopqrstuvwxyz12345678 ## Bot token
clientUsername=SomeCoolName ## Bot name
clientId=123456789101113 ## Bot clientId
clientSecret=kabcdefghialmdk ## Bot clientSecret 

## Owner Info
userId=12345678910111213 ## Owner userId

## Bot Settings
mongoUrl=mongodb+srv://<mongoURL>/MusicBot ## Mongodb url for database
prefix=? ## Default prefix is set to "?" use prefix command to change
embedColor=2F3136 ## You can any HEX Color for embed color but without the "#"